<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="WorkLocally" value="True" />
    <add key="DbFileFolder" value="." />
    <add key="DbFileType" value="ShortDB" />
    <add key="HistoryFilePath" value="." />
  </appSettings>
</configuration>
